In [15]:
#Rhombus pattern
n=int(input())
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
    for l in range(n):
        print('* ',end='')
    print()

5
    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *

In [8]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end='')
    for space in range(2*n-2*i):
        print(' ',end='')
    for l in range(1,i+1):
        print('*',end='')
    print()

4
*      *
**    **
***  ***
********

In [20]:
n=int(input())
x=z=n
y=n+2
for i in range(n):
    for j in range(i+1):
        print('w',end='')
    for q in range(x-1):
        print(' ',end='')
    for r in range(y,1,-1):
        print('w',end='')
    for s in range(i):
        print(' '*2,end='')
    for t in range(z,0,-1):
        print('w',end='')
    for u in range(x-1):
        print(' ',end='')
    for v in range(i+1):
        print('w',end='')
    x-=1
    y-=1
    z-=1
    print()

10
w         wwwwwwwwwwwwwwwwwwwww         w
ww        wwwwwwwwww  wwwwwwwww        ww
www       wwwwwwwww    wwwwwwww       www
wwww      wwwwwwww      wwwwwww      wwww
wwwww     wwwwwww        wwwwww     wwwww
wwwwww    wwwwww          wwwww    wwwwww
wwwwwww   wwwww            wwww   wwwwwww
wwwwwwww  wwww              www  wwwwwwww
wwwwwwwww www                ww wwwwwwwww
wwwwwwwwwwww                  wwwwwwwwwww

In [9]:
n=int(input())
x=n
y=n+2
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    for q in range(x-1):
        print(' ',end='')
    for r in range(y,1,-1):
        print('*',end='')
    x-=1
    y-=1
    print()

20
*                   *********************
**                  ********************
***                 *******************
****                ******************
*****               *****************
******              ****************
*******             ***************
********            **************
*********           *************
**********          ************
***********         ***********
************        **********
*************       *********
**************      ********
***************     *******
****************    ******
*****************   *****
******************  ****
******************* ***
**********************

In [9]:
for p in range(8,0,-1):
    for q in range(p-1):
        print(' ',end='')
    for r in range(p):
        print('*',end='')
    print()

       ********
      *******
     ******
    *****
   ****
  ***
 **
*

In [29]:
for i in range(int(input('Enter the no. of rows : '))):
    for j in range(1,i+2):
        (print(j,end='') if j%2==0 else print('*',end='')) if i%2==0 else (print(j,end='') if j%2!=0 else print('*',end=''))
    print()

Enter the no. of rows : 5
*
1*
*2*
1*3*
*2*4*

In [20]:
for i in range(int(input('Enter the no. of rows : '))):
    for j in range(1,i+1+1):
        if i%2==0:
            if j%2==0:
                print(j,end='')
            else:
                print('*',end='')
        else:
            if j%2!=0:
                print(j,end='')
            else:
                print('*',end='')
    print()

Enter the no. of rows : 10
*
1*
*2*
1*3*
*2*4*
1*3*5*
*2*4*6*
1*3*5*7*
*2*4*6*8*
1*3*5*7*9*

In [16]:
sum=0
print("The first n positive numbers having the total sum less than 100 are:")
i=1
sum=0
while i<100:
    sum+=i
    if sum<=100:
        print(i)
    i+=1

The first n positive numbers having the total sum less than 100 are:
1
2
3
4
5
6
7
8
9
10
11
12
13

In [7]:
n=int(input('Please input the number to calculate factorial of the number'))
if n==0:
    print(f'The factorial is :{n+1}')
elif n<0:
    print('The factorial of numbers below 0 is not defined')
else:
    factorial=1
    for i in range(n,0,-1):
        factorial*=i
    print(f'The factorial is :{factorial}')

Please input the number to calculate factorial of the number0
The factorial is :1

In [115]:
n=int(input('Enter a no. : '))
var=n
# var+=7
for i in range(1,n+1):
    for j in range(1,12):
            if i==1 and (7<=j<=11):
                print('*',end='')
            elif i==2 and (4<=j<=7):
                print('*',end='')
            elif i==3 and (2<=j<=4):
                print('*',end='')
            elif i==4 and (1<=j<=2):
                print('*',end='')
            elif i==5 and (j==1):
                print('*',end='')
            else:
                print(' ',end='')
    print()

Enter a no. : 1
      *****

In [137]:
#   *@@@@@@@*
#   *       *
#   *       *
#   *       *
#   *       *
# @@@@@   @@@@@
#  @@@     @@@
#   @       @
n = int(input("Enter row: "))
if n%2:
    loop1 = loop2 = n
    print(' '*(n//2),'*','@'*(n+2),'*',sep='')
    for i in range(1, n):
        print(' '*(n//2),'*',' '*(n+2),'*',sep='')
    for j in range(1, n):
        for k in range(1, j):
            print(' ',end ='',sep='')
        for l in range(1, loop1+1):
            print('@',end='')
        loop1 = loop1-2
        for m in range(1, j):
            print(' ',end ='',sep='')
        for n in range(1, 4):
            print(' ',sep='',end='')
        for o in range(1, j):
            print(' ',end ='',sep='')
        for p in range(1, loop2+1):
            print('@',end='')
        loop2 = loop2-2
        print()

Enter row: 7
   *@@@@@@@@@*
   *         *
   *         *
   *         *
   *         *
   *         *
   *         *
@@@@@@@   @@@@@@@
 @@@@@     @@@@@
  @@@       @@@
   @         @

In [138]:
n=int(input('Enter a number : '))
n+=3
for i in range(1,n+1):
    if i>5:
        for j in range(1,13):
            if  ((1<=j<=5 or 8<=j<=12 ) and i==6) or ((2<=j<=4 or 9<=j<=11 ) and i==7) or ((j==3 or j==10 ) and i==8):
                print('@',end='')
            else:
                print(' ',end='')
        print()
    else:
        for j in range(1,13):
            if i==1:
                if (j==3 or j==11):
                    print('*',end='')
                elif 4<=j<=10:
                    print('@',end='')
                else:
                    print(' ',end='')
            else:
                if (j==3 or j==11):
                    print('*',end='')
                else:
                    print(' ',end='')
        print()

Enter a number : 7
  *@@@@@@@*
  *       *
  *       *
  *       *
  *       *
@@@@@  @@@@@
 @@@    @@@
  @      @

In [108]:
n=int(input('Enter a number : '))
counter=0
c=0
for i in range(1,n+1):
    if i%2:
        for j in range(1,n+1):
            counter+=1
            print(counter,end=' ')
    else:
        p=counter+n
        k=p
        for j in range(n):
            print(k,end=' ')
            k-=1
            counter+=1
        c+=5
    print()

Enter a number : 5
1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

In [135]:
n=int(input('Enter a no. : '))
s=n
for i in range(n,0,-1):
    for space in range(s):
        print(' ',end='')
    s=s//2
    for j in range(i):
        print('*',end='')
    print()

Enter a no. : 5
     *****
  ****
 ***
**
*

In [14]:
# 1 1 1 1 1
# 1 2 2 2 2
# 1 2 3 3 3
# 1 2 3 4 4
# 1 2 3 4 5
n=int(input('Enter a no. : '))
for row in range(1,n+1):
    for k in range(1,n+1):
        if row<=k:
            print(row,end=' ')
        else:
            print(k,end=' ') 
    print()

Enter a no. : 5
1 1 1 1 1
1 2 2 2 2
1 2 3 3 3
1 2 3 4 4
1 2 3 4 5

In [7]:
str='12345'
p=4
for i in range(1,len(str)+1):
    print(str[:i]+str[i-1]*p)
    p-=1

11111
12222
12333
12344
12345

In [35]:
#fibonacci series pattern
n=int(input('Enter the limit for fibonacci pttern : '))
a,b=0,1
print(b)
for i in range(2,n+1):
    for j in range(i):
        a,b=b,a+b
        print(b,end=' ')
    print()5

Enter the limit for fibonacci pttern : 5
1
1 2
3 5 8
13 21 34 55
89 144 233 377 610

In [5]:
n = int(input('Enter number of rows: '))
for i in range(n,0,-1):
    for k in range(n-i):
        print(" ",end= ' ')   
    for j in range(i):
        print("*", end=' ')        
    print()

Enter number of rows: 5
* * * * *
  * * * *
    * * *
      * *
        *

In [28]:
#pattern using fibonacci series by Brajesh Raj Sir(IIMT)
class fibonacci_class:
    l=[]
    def __init__(self,n):
        self.n=n
        self.a=0
        self.b=1
    def fibonacci(self):
        if self.n==1:
            return self.a
        elif self.n==2:
            return self.a,self.b
        else:
#             print(self.a,self.b,end=' ')
            l=[0,1]
            for i in range(self.n-2):
                self.a,self.b=self.b,self.a+self.b
                l.append(self.b)
        return l
obj=fibonacci_class(n=int(input('Limit : ')))
x=obj.fibonacci()
for i in x:print('*'*i)
for i in x[::-1]:
    if i==x[::-1][0]:# when loop will run 1st time
        pass
    else:
        print('*'*i)

Limit : 12

*
*
**
***
*****
********
*************
*********************
**********************************
*******************************************************
*****************************************************************************************
*******************************************************
**********************************
*********************
*************
********
*****
***
**
*
*

In [11]:
l='python'
for i in l:print(i,end=' ')

p y t h o n

In [40]:
def range():print('hello')
range()

hello

In [15]:
for j in range(5):print(j,end=' ')

0 1 2 3 4

In [4]:
n=int(input())
for i in range(n,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

5

TypeError: range() takes no keyword arguments

In [54]:
n=int(input())
v=n-1
for i in range(n-1):
    for j in range(v,0,-1):
        print(' ',end='')
    v-=1
    for k in range(i+1):
        print('*',end='')
        
    print()
for l in range(3):
    print('*'*60)
v1=n
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for k in range(v1):
        print('*',end='')
    print()
    v1-=1

5
    *
   **
  ***
 ****
************************************************************
************************************************************
************************************************************
*****
 ****
  ***
   **
    *

In [7]:
# Program to sum of n noos.
n=int(input('Enter number : '))
l=[]
total=0
for i in range(n):
    no=int(input())
    l.append(no)
for j in l:
    total+=j
print(total)

Enter number : 2
1
2
3

In [3]:
print('.|.'.center(len('.|.')*12,'*'))

****************.|.*****************

In [26]:
str='.|.'
counter=9
j=1
for i in range(1,5):
    print((str).center(len(str)*counter,'-'))
    counter-=3
    print(counter)
    j+=2

------------.|.------------
6
-------.|.--------
3
---.|.---
0
.|.
-3

In [25]:
str='pankaj'
print(len(str))
print(str.center(len(str)*2,'*'))

6
***pankaj***

In [27]:
str='h'
for i in range(4):
    print(str)
    str+=str

h
hh
hhhh
hhhhhhhh

In [27]:
for i in range(1,int(input())):print('*'*i)

20
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [25]:
for i in range(int(input()),0,-1):print('*'*i)

10
**********
*********
********
*******
******
*****
****
***
**
*

In [39]:
n=int(input())
for i in range(n,0,-1):print('*'*i+' '*i+'*'*i)
for i in range(1,n):print('*'*i+' '*i+'*'*i)

10
**********          **********
*********         *********
********        ********
*******       *******
******      ******
*****     *****
****    ****
***   ***
**  **
* *
* *
**  **
***   ***
****    ****
*****     *****
******      ******
*******       *******
********        ********
*********         *********

In [38]:
for i in range(1,6):
    if i==1 or i==5:print('3'*5)
    elif i==2 or i==4:print('3'+'2'*3+'3')
    else:print('32123')

33333
32223
32123
32223
33333

In [7]:
pip install jupyter-c-kernel

Collecting jupyter-c-kernel
  Downloading https://files.pythonhosted.org/packages/bf/60/cdd13d162391b66c6b4eaabc3d5c9b8e8f0edba9d3481b20509ae04943c7/jupyter_c_kernel-1.2.2.tar.gz
Building wheels for collected packages: jupyter-c-kernel
  Building wheel for jupyter-c-kernel (setup.py) ... done
  Created wheel for jupyter-c-kernel: filename=jupyter_c_kernel-1.2.2-cp37-none-any.whl size=6618 sha256=18fff85580af087d6ddf9409c9f73c6e9be413c2b861761fd2fa12064a1a0933
  Stored in directory: /home/pankaj/.cache/pip/wheels/28/7a/94/dc4f991e5b8afdc4d89188a658c949f77881e06ee01552a777
Successfully built jupyter-c-kernel
Installing collected packages: jupyter-c-kernel
Successfully installed jupyter-c-kernel-1.2.2
Note: you may need to restart the kernel to use updated packages.

## 17TH,February 2020

## HOME WORK

In [1]:
# Iterator and Iterable

In [4]:
name='Varsha'
# marks=[89,67,78,90,56]
for char in name:
    print(char)
print('Loop is completed!')

V
a
r
s
h
a
Loop is completed!

In [9]:
marks=[89,67,78,90,56]
total=0
for m in marks:
    total+=m
print(total)
print(sum(marks))

380
380

In [14]:
print(help(sum))

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

None

## HOME WORK

In [15]:
# 1.See the sytax of  sorted()
sorted()#sorted(iterable, /, *, key=None, reverse=False)
# Docstring:
# Return a new list containing all items from the iterable in ascending order.


# 2.Apply loop over tuple,dictionary(key(),value(),item())

In [10]:
tup=(1,'hello',5)
for i in tup:
    print(i)

1
hello
5

In [11]:
dict={'name1':'Krishna','name2':'Radhe','name3':'Shyam'}
for key in dict.keys():print(key)

name1
name2
name3

In [12]:
for value in dict.values():print(value)

Krishna
Radhe
Shyam

In [13]:
for value,key in dict.items():print(value,key,sep=':')

name1:Krishna
name2:Radhe
name3:Shyam

In [1]:
#Program to check prime no.
n=int(input('Number : '))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print('not a prime no.')
            break
    else:
        print('prime no.')
else:
    print('not a prime no.')

Number : 2
prime no.

In [5]:
#sequence from 10 to 30 with gap 3
r=range(10,31,3)
print(r)
for i in r:
    print(i)

range(10, 31, 3)
10
13
16
19
22
25
28

In [15]:
str='abcdefg'
for _ in str:
    print(_)

a
b
c
d
e
f
g

In [18]:
#         * 
#       * * 
#     * * * 
#   * * * * 
# * * * * * 
n=int(input())
j=n
for i in range(1,n+1):
    for j in range(n-i,0,-1):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    print()

5
        *
      * *
    * * *
  * * * *
* * * * *