In [12]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
var=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if ((i+j+k)!=n)]
print(var)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [4]:
l=[i+i for i in range(1,11)]
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
x = int ( input())
y = int ( input())
n = int ( input())
print([ [ i, j] for i in range( x + 1) for j in range( y + 1) if ( ( i + j ) != n )])

3
2
2
[[0, 0], [0, 1], [1, 0], [1, 2], [2, 1], [2, 2], [3, 0], [3, 1], [3, 2]]

In [14]:
l=[int(i) for i in input('No of elements :').split()]
l

No of elements :1 2 3 4 5

[1, 4, 9, 16, 25]

In [21]:
l=input().split()
type(l)

1 2

list

## 25th,February2020

In [1]:
name=['Ravi','Neha','Priya','Vijay']

In [7]:
l=[f' Hello {i}' for i in  name]
l

[' Hello Ravi', ' Hello Neha', ' Hello Priya', ' Hello Vijay']

In [9]:
#Program to get square from 1 to 10
square=[i**2 for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
square=[i**2 for i in range(1,11) if i%2==0]
square

[4, 16, 36, 64, 100]

In [14]:
# else condition
l=[i if i%2==0 else -i for i in range(1,11)]
l

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [16]:
l=[i if i%2==0 else i**3 for i in range(1,11)]
l

[1, 2, 27, 4, 125, 6, 343, 8, 729, 10]

While a list comprehension won't take an elif statement, it will take multiple nested else statements.

## Home Work

In [34]:
l=['fifteen' if i%15==0 else 'five' if i%5==0 else 'three' if i%3==0 else i for i in range(1,50)]

In [35]:
print(l)

[1, 2, 'three', 4, 'five', 'three', 7, 8, 'three', 'five', 11, 'three', 13, 14, 'fifteen', 16, 17, 'three', 19, 'five', 'three', 22, 23, 'three', 'five', 26, 'three', 28, 29, 'fifteen', 31, 32, 'three', 34, 'five', 'three', 37, 38, 'three', 'five', 41, 'three', 43, 44, 'fifteen', 46, 47, 'three', 49]

## Tuple comprehensio is not supported  in python

In [37]:
c,*a=1,2,3,4

In [38]:
a

[2, 3, 4]

<html>
<header><title>This is title</title></header>
<body>
Hello world
</body>
</html>

In [6]:
a=257
b=257
print(id(a),id(b))

2220017377744 2220017377392

In [7]:
a=2
b=2
print(id(a),id(b))

140713372497728 140713372497728

In [10]:
dict={'pankaj_dob':'04/07/1995'}
dict['pankaj_dob']

'04/07/1995'

In [12]:
d={}
d[input('Name')]=input('dob')
d

dob04/07/1995
Namepankaj

{'pankaj': '04/07/1995'}

In [10]:
cn=input('name : ')
d[cn]=input('dob')
d

namepankaj
dob384883

{'pankaj': '384883'}

## Taking input list of list

In [1]:
people_details = [input().split() for i in range(int(input()))]
print(people_details)

3
Krishn 33 Male
Shyam 22 Male
Radha 20 Female
[['Krishn', '33', 'Male'], ['Shyam', '22', 'Male'], ['Radha', '20', 'Female']]