In [3]:
def main():
# Write code here 
 T=int(input())
 member=int(input())
 for times in range(T):
     g_team=list(map(int,input().split()))
     opponent_team=list(map(int,input().split()))
     count=0
     for i in range(len(g_team)):
        m=min(g_team[:len(g_team)-i])
        g_team.remove(m)
        g_team.append(m)
     for i in g_team:
        for j in opponent_team:
            if i>j:
                count+=1
                opponent_team.remove(j)
                break
     print(count)
main()
# 3 6 7 5 3 5 6 2 9 1
# 2 7 0 9 3 6 0 6 2 6

1
10
3 6 7 5 3 5 6 2 9 1
2 7 0 9 3 6 0 6 2 6
7


### l=[0,2,3,0,3]
for i in range(10):
    print(l[i])

In [8]:
def main():

 # Write code here 
 N=input()
 composition=list(map(int,input().split()))
 ingredient=list(map(int,input().split()))
 l=[]
 for i in range(len(ingredient)):
     l.append(ingredient[i]//composition[i])
 print(min(l))
main()

4
2 5 6 3
20 40 90 50
8

In [7]:
print(*map(str, [2+2, 2-2, 2*2, 2/2]), sep='\n')
############         OR       ##############
print('*'*70)
for i in map(str, [2+2, 2-2, 2*2, 2/2]):
             print(i)

4
0
4
1.0
**********************************************************************
4
0
4
1.0

In [2]:
l=list(map(float,input().split()))
for i in l:
    print(type(i),i)

1 2 3 4 5
<class 'float'> 1.0
<class 'float'> 2.0
<class 'float'> 3.0
<class 'float'> 4.0
<class 'float'> 5.0

In [8]:
for i in list(map(float,input().split())):
    print(type(i),i)

1 2 3 4 5
<class 'float'> 1.0
<class 'float'> 2.0
<class 'float'> 3.0
<class 'float'> 4.0
<class 'float'> 5.0

In [11]:
# Python program to demonstrate working 
# of map. 

# Return double of n 
def addition(n): 
    return n + n 

# We double all numbers using map() 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers)#here in place of numbers it takes iterable 
print(list(result))

[2, 4, 6, 8]

In [4]:
numbers=[1,2,3,4,5,6,7,8,9]
def cube(n):
    return n**3
iterator=map(cube,numbers)

In [5]:
type(iterator)

map

In [6]:
print(list(iterator))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [12]:
numbers=[1,2,3,4,5,6,7,8,9]
def cube(n):
    return n**3
iterator=map(cube,numbers)
for i in iterator:#print(*iterator) will work as same,for loop is working
    print(i,end=' ')

1 8 27 64 125 216 343 512 729

In [6]:
n = int(input())
integer_list = map(int,input().split())
tup=tuple(integer_list)
print(hash(tup))

2
1 2
3713081631934410656

In [3]:
hash((1,2))

3713081631934410656

## 27th,February 2020

In [1]:
# map() returns an iterator map object
# Syntax: map(function,iterable1,iterable2,...)
# You can pass more than one iterables

In [3]:
# Calculate length of each item of list
name=['Varsha','Nitin','Rohit','Sapna']
length=map(len,name)
for i in length:print(i)

TypeError: len() takes exactly one argument (2 given)

In [ ]:
#Python map() with multiple iterables
def multiply(x, y):

    return x * y

nums1 = [1, 2, 3, 4, 5]
nums2 = [6, 7, 8, 9, 10]

mult = map(multiply, nums1, nums2)

for num in mult:
    print(num)
# In the code example have two iterables holding integers. The values from both iterables are multiplied.

# def multiply(x, y):

#     return x * y
# The function must take two parameters since there are two iterables passed to map().

In [18]:
# Python map multiple functions

def add(x):
    return x + x

def square(x):
    return x * x

nums = [1, 2, 3, 4, 5]

for i in nums:

    vals = list(map(lambda x:x(i), (add, square)))

    print(vals)

[2, 1]
[4, 4]
[6, 9]
[8, 16]
[10, 25]

In [13]:
nums = [1, 2, 3, 4, 5]

nums_squared = map(lambda x: x*x, nums)

for num in nums_squared:
    print(num)

1
4
9
16
25

In [7]:
name=['Varsha','Nitin','Rohit','Sapna']
length=map(len,name)
print(list(length))

[6, 5, 5, 5]

In [20]:
name=['Varsha','Nitin','Rohit','Sapna']
length=map(len,name)
print(list(length))

[6, 5, 5, 5]

In [21]:
name=['Varsha','Nitin','Rohit','Sapna']
length=map(id,name)
print(list(length))

[1934342265392, 1934342266224, 1934342266288, 1934342266352]

fahrenheit={'t1':-30,'t2':-20,'t3':-10,'t4':0}
celcius_dict=dict(map(zip(fahrenheit.keys()),celcius))
printt(celcius_dict)

In [20]:
#Dictionary comprehension
celcius_dict={k:round(((5/9)*(t-32)),2) for k,t in fahrenheit.items()}
print(celcius_dict)

{'t1': -34.44, 't2': -28.89, 't3': -23.33, 't4': -17.78}