In [1]:
l1 = [1,2,3] 
l2 = [4,5,6]

# l3 = l1 + l2 

l3 = [*l1,*l2] # list merging 
l3

[1, 2, 3, 4, 5, 6]

In [3]:
t1 = (1,2,3) 
t2 = (4,5,6)

# t3 = t1 + t2 

t3 = (*t1,*t2)# tuple merging 
t3

(1, 2, 3, 4, 5, 6)

In [4]:
s1 = {1,2,3} 
s2 = {4,5,6}

# s3 = s1 + s2  # this + operator is not valid in  set 

s3 = {*s1,*s2}# set merging 
s3

{1, 2, 3, 4, 5, 6}

In [2]:
d1 = {'a' : 100, 'b' : 200} 
d2 = {'c' : 300, 'd' : 400} 

# d3 = d1 + d2 # this does not work in dictionary 

d3 = {*d1, *d2} # <------------------------------ look at no. of stars
d3

{'a', 'b', 'c', 'd'}

In [3]:
d3 = {**d1, **d2} # <------------------------------ look at no. of stars
d3

{'a': 100, 'b': 200, 'c': 300, 'd': 400}