A Set is an unordered collection data type that is iterable,
mutable and has no duplicate elements

In [2]:
#Python program to demonstrate differences 
#between normal and frozen set
s={'a','b','c'}
print(type(s))
s.add('d')#1. add(x) Method: Adds the item x to set if it is not 
          #already present in the set.
print(s)
frozen_set=frozenset(s)# Now it becomes immutable
print(type(frozen_set))
print(frozen_set)

<class 'set'>
{'a', 'b', 'c', 'd'}
<class 'frozenset'>
frozenset({'a', 'b', 'c', 'd'})

In [7]:
#union(s) Method: Returns a union of two set.Using the ‘|’ 
#operator between 2 sets is the same as writing set1.union(set2)
set1={1,2,3,4}
set2={5,6,7,8}
x=set1.union(set2)
print(x)
print('----------------OR----------------------')
y=set1|set2
print(y)

{1, 2, 3, 4, 5, 6, 7, 8}
----------------OR----------------------
{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
#intersection(s) Method: Returns an intersection of two sets.
#The ‘&’ operator comes can also be used in this case.
set1={1,2,3,7,8}
set2={5,6,7,8,1}
x=set1.intersection(set2)
print(x)
y=set1&set2
print(y)

{8, 1, 7}
{8, 1, 7}

In [14]:
#difference(s) Method: Returns a set containing all the elements 
#of invoking set but not of the second set. We can use ‘-‘
#operator here.
set1={1,2,3,7,8}
set2={5,6,7,8,1}
x=set1.difference(set2)
print(x)
y=set1-set2
print(y)

{2, 3}
{2, 3}

In [1]:
#clear() Method: Empties the whole set.
s={2,3,4}
s.clear()
print(s)

set()

In [4]:
# del statement
s={3,4,6}
del s

In [8]:
#The set doesn’t maintain elements in any particular order.
#Only instances of immutable types can be added to a Python set.
s={3,4,6}
l=[2,5]
# s.add(l) # Generating an error 
s.add(5)
print(s)

{3, 4, 5, 6}

Operators for Sets
Sets and frozen sets support the following operators:

key in s       # containment check

key not in s   # non-containment check

s1 == s2       # s1 is equivalent to s2

s1 != s2       # s1 is not equivalent to s2

s1 <= s2    # s1 is subset of s2 
s1 < s2     # s1 is proper subset of s2 
s1 >= s2    # s1 is superset of s2

s1 > s2     # s1 is proper superset of s2

s1 | s2        # the union of s1 and s2

s1 & s2 # the intersection of s1 and s2

s1 – s2        # the set of elements in s1 but not s2

s1 ˆ s2        # the set of elements in precisely one of s1 or s2

Code Snippet to illustrate all Set operations in Python

In [1]:
a=set()#Creating an empty set
print(a)
for i in range(1,6):
    a.add(i)
print(a)

set()
{1, 2, 3, 4, 5}

In [2]:
set={1, 2, 3, 4, 5,6}
for i in set:
    print(i)

1
2
3
4
5
6

In [27]:
# Checking relation between set1 and set2 
s1={1,2,3,4}
s2={2,3,4}
print(s1>s2)
print(s1<s2)
print(s1==s2)
set1.isdisjoint(set2)#isdisjoint()->Set1,Set2 have nothing common

True
False
False
Set4 and Set5 have nothing in common

## 26th,February 2020

In [1]:
# set is unindexed,unordered collection datatypes <-------------------------------
# set is mutable
# set object is iterable
# We can store immutable datatypes only in the set. <-----------------------------

In [2]:
#Creating empty set
s0=set()
s0,type(s0),len(s0)

(set(), set, 0)

In [3]:
#Non-empty set
s1={3,4,'hi',44.5,'hello'}
s1[3]#<------TypeError: 'set' object is not subscriptable-----------------

TypeError: 'set' object is not subscriptable

In [4]:
3 in s1,88 in s1,88.8 not in s1

(True, False, True)

## Mathematical Operation

In [5]:
s2={'hi',4,90,88.8}
s1.union(s2)#It returns common elements single time

{3, 4, 44.5, 88.8, 90, 'hello', 'hi'}

In [6]:
s1|s2

{3, 4, 44.5, 88.8, 90, 'hello', 'hi'}

In [7]:
s1.intersection(s2)#return a new set with common  elements of s1 and s2

{4, 'hi'}

In [8]:
s1&s2

{4, 'hi'}

In [9]:
s1.difference(s2)

{3, 44.5, 'hello'}

In [10]:
s1-s2

{3, 44.5, 'hello'}

In [11]:
#Symmetric difference
s1.symmetric_difference(s2)#(it returns the common part form s1 and s2)

{3, 44.5, 88.8, 90, 'hello'}

In [13]:
~2 #complement(~)

-3

In [14]:
#Add elements to sets
s1.add((12,'hi'))
s1

{(12, 'hi'), 3, 4, 44.5, 'hello', 'hi'}

In [15]:
#update set
sub={'P','hi','C'}
s1.update(s2)
s1

{(12, 'hi'), 3, 4, 44.5, 88.8, 90, 'hello', 'hi'}

In [16]:
#Remove form set
s1.remove('hi')
s1

{(12, 'hi'), 3, 4, 44.5, 88.8, 90, 'hello'}

In [17]:
s1.remove((12,'hi'))
s1

{3, 4, 44.5, 88.8, 90, 'hello'}

In [18]:
#pop() method ,it remove an arbitrary element and returns also
data=s1.pop()
print(data)
print(s1)

3
{4, 90, 44.5, 'hello', 88.8}