In [51]:
s = "hello 'is ' a good boy"
s

"hello 'is ' a good boy"

In [52]:
name = ' " hi" '
name

' " hi" '

In python,strings are stored as individualcharacter in a contiguous memory location
# String is immutable in nature

In [53]:
a,b,c='hi',"how",'''are'''
print(a,b,c)#Here in case of object/variable c holds the value with tripple quotes
print(type(c))#It's valid in python

hi how are
<class 'str'>

In [54]:
# String concatenation operator(+)
print('hello'+'world')

helloworld

In [79]:
#String replication(*)
print('i'*5)
print(5*'i')
# print(5.0*'i') # if we multiply with float value it returns TyperError

iiiii
iiiii

In [80]:
s[8:3] # blank string due to endpoint not as expected because slicing is the directional proecess

''

- step value in slicing cannot be zero other wise it will give : ValueError

In [81]:

# String slicing
str='welcome'
print(str[3:])#come
print(str[:])#whole stirng
print(str[0:])#whole string
print(str[-1:-8])# blank(due to not provided step)
print(str[-1:-8:-1])# reverse of string
print(str[0:7:2])#wloe

come
welcome
welcome

emoclew
wloe

In [82]:
# string reversing
str='welcome'
print(str[::-1])# method 1
print(str[-1::-1])# method 2
print(str[len(str)::-1])# method 3

print(reversed(str))# It returns object of reversed string<-------------------------; and creates a new object in the memory

emoclew
emoclew
emoclew
<reversed object at 0x71e44eb1ed90>

In [83]:
x=reversed('hello')
print(x,type(x))
for i in x:
    print(i,end='')

<reversed object at 0x71e44e424850> <class 'reversed'>
olleh

In [25]:
# WAP to reverse the string without using any inbuilt functions 
s = 'hello'

s2 = ''
for i in range(len(s)-1,-1,-1):
    s2 += s[i] 
print(s2)

olleh 5

In [31]:
s = 'one two three four five six' 

output = '' 

for ind,val in enumerate(s.split()):
    if ind % 2 != 0:
        output += val[::-1] + ' '
    else:
        output += val + ' '
print(output)

one owt three ruof five xis

# String Functions & Methods

In [87]:
str='hello sir ,how are you ?'
print(str.count('e',0,2))#count(string,begin,end_point)where end_point is excluded in
#every function of string

1

In [4]:
s = 'BBBBB' 
print(s.count('B'))
print(s.count('BB'))
print(s.count('BBB'))

5
2
1

In [88]:
str='hello sir ,how are you ?'
print(str.endswith('you'))#endswith(string,start_point,end_point)
print(str.endswith('lo',0,5))  # where end_point is excluded

False
True

In [93]:
str='hello sir ,how are you ?'
print(str.startswith('hello'))# It checks the starting character of string is starting
# or not.

True

In [1]:
str='hello sir ,how are you ?'
print(str.find('g'))#find(string,start_point,end_point)),if string isn't exist then it returns -1
print(str.find('e'))#find(string,start_point,end_point)),if string exist then it returns 1
print(str.rfind('e'))# it find the string from last to 0 index 
print(str.index('o'))# It is same as find() except it raises the exception if string
print(str.index('o'))# It is same as index() except it raises the exception if string isn't found. and it also returns the value of the index at which data is present. and it starts searching from the right side or from last.

-1
1
17
4
4

In [100]:
str='123dhfd'
str1='hello sir'
str3='3435'
print(str.isalnum())#isalnum() checks the alphanumeric,it does not consider the space
print(str1.isalpha())#isalpha() checks the all alphabet ,it does not consider the space 
print(str3.isdigit())# isdigit() checks the all digit,it does not consider the space

True
False
True

In [102]:
string='hello'
print(string.islower())# it checks that all characters are in lower case or not.
print(string.isupper())# it checks that all characters are  in upper case or not.

True
False

In [ ]:
string='hello'
print(string.title())# it checks that all characters are in lower case or not.

In [106]:
str=' '
print(str.isspace())# It checks the space only

True

In [107]:
str='Radhe Radhe Radhe ...'
print(len(str))# It finds the length of the string

21

In [108]:
str='RADHE RADHE RADHE RADHE RADHE RADHE RADHE RADHE  RADHE RADHE'
x=str.lower()# It converts the whole string into in the lower case
print(x)
print(x.upper())# It coverts the whole string into the upper case

radhe radhe radhe radhe radhe radhe radhe radhe  radhe radhe
RADHE RADHE RADHE RADHE RADHE RADHE RADHE RADHE  RADHE RADHE

In [109]:
str='Radhe'
print(str.swapcase())# It converts the lowercase into uppercase and vice-versa

rADHE

In [110]:
str='                        Hello Python'
print(str.lstrip())# It removes the left white spaces from the string

Hello Python

In [111]:
str='Hello Python                            '
print(str.rstrip())# It removes right spaces from the string

Hello Python

In [71]:
str='             Hello Python                    '
print(str.strip())#It removes left as well as right spaces from the string.

Hello Python

In [114]:
str='hello how are you sir ?'
# syntax:
        # string.replace(old_value,new_value,count=-1)count=-1 its a default value
print(str.replace(' ','_'))# It replace the desired character from the string.
print(str.replace(' ','_',2))# It replace the two space character from the string.

hello_how_are_you_sir_?
hello_how_are you sir ?

In [121]:
name='Radhe'
print(name.center(len(name)+10,'*'))
print(name.center(7,'*'))

*****Radhe*****
*Radhe*

In [74]:
name='radhe shyam'
print(name.title())# It makes the first letter capital of each word in a sentence or word
print(name.capitalize())#It only makes the first letter capital

Radhe Shyam
Radhe shyam

# Strings are immutable

In [75]:
str='string'
print(str[1])

t

In [122]:
#str[1]=T  # It will generate error ,string assignment does not support due to immutable in nature.

In [35]:
print(str.replace('t','T'))# We can't change the string,only we can store it in the new variable
print(str)

sTring
string

# More Assignment Operator

In [123]:
name='harsh'
name += 'it'# name = name + 'it'
name

'harshit'

In [124]:
name=input()
f'your name is {name}' if name else f'you didn"t enter anything'

'your name is pankaj'

In [125]:
# multi-line comment
'''
gvhj
hbjhkjl
'''
print(3)

3

In [126]:
x=['ab','5']
for i in x:print(i)

ab
5

In [127]:
# Problem given by Monu
str=input()
l,l1,l3=[],[],[]
count=1
for i in str:
    if i not in l:
        l.append(i)
        l1.append(l.count(i))
    else:
        l.append(i)
        l1.append(l.count(i))
print(l1)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 3, 2, 2, 2, 1]

In [128]:
#Program
name=input().lower()
characater=input().lower()
count=0
for i in name:
    if characater==i:
        count+=1
print(count)

0

## 03rd, Janurary 2020

In [42]:
#google classroom python code --> ypc3ivv

## 04th, Janurary 2020

In [129]:
# Automatic Memory Management in Python
x='Hello'
print(x, id(x))
# id()return memory address of object
y='Hello'
print(y, id(y))

Hello 125225388348912
Hello 125225388348912

In [130]:
x=x+'sir'
print(x, id(x))
z='Hello'
print(z, id(z))

Hellosir 125225383541872
Hello 125225388348912

In [131]:
#identity operator:It compares the memory adress object(string)
# is/is not
#This operator returns boolean data
x='hellosir'
y='hello'
z='hello'
print(x is z,x==z)
print(y is z,y==z)
print(y is not z)

False False
True True
False

In [132]:
#Membership operator
# in,not in# It returns the bolean value
print('H' in y)
print('H' not in y)

False
True

In [134]:
n1,n2=1,2
total=n1+n2

**replacement operator {}**

In [135]:
#.format()#This is not latest method
result='Sum of {} and {} is {}'.format(n1,n2,total)
print(result)
result='Sum of {1} and {0} is {2}'.format(n1,n2,total)
print(result)

Sum of 1 and 2 is 3
Sum of 2 and 1 is 3

In [137]:
s = '{} : {} : {}'.format(1,2,3) 
s

'1 : 2 : 3'

In [141]:
s= '{} : {}'.format(1,2) 
s

'1 : 2'

In [142]:
s = '{0} : {1} : {2} : {3}'.format(1,2,3,4)
s

'1 : 2 : 3 : 4'

In [143]:
s = '{0} : {3} : {2} : {3}'.format(1,2,3,4)
s

'1 : 4 : 3 : 4'

In [1]:
s = '{a} : {b} : {c} : {d}'.format(a=1,b=2,c=3,d=4)
s

'1 : 2 : 3 : 4'

- **string  formating %** 
- '%i' : signed decimal values. 
- '%d' : signed decimal values. 
- '%f' : float values 
- '%s' : string,list,set or any other objects

In [8]:
a,b,c = 10,20,30
print(f'value of a is : %i'%a)
print(f'value of a is : %i'%a)
print(f'value of a is : %i'%a,end='\n\n')

print(f'value of a is : %d'%b)
print(f'value of a is : %d'%b)
print(f'value of a is : %d'%c)

print(f'a=%d,b=%d,c=%d' %(a,b,c))

value of a is : 10
value of a is : 10
value of a is : 10

value of a is : 20
value of a is : 20
value of a is : 30
a=10,b=20,c=30

In [9]:
name = 'durga' 
marks = [80,89,70,59,100]

s = 'hello %s your marks are %s' %(name,marks)
s

'hello durga your marks are [80, 89, 70, 59, 100]'

In [13]:
marks = 80.84387483 

replacement_operator = 'your mark is : %f' %marks 
string_formating = 'your marks is %.2f' %marks 

print(replacement_operator,string_formating,sep='\n')

your mark is : 80.843875
your marks is 80.84

In [144]:
string='Jaiss'
del string[0]#'str' object doesn't support item deletion

TypeError: 'str' object doesn't support item deletion

## 12th,February 2020

In [149]:
y=int(input('Enter a year : '))
if y%4==0:
    if y%100==0:
        if y%400==0:
            print('Leap Year')
        else:
            print('Not a Leap Year')
    else:
        print('Leap Year')
else:
    print(' Not Leap Year')

Leap Year

In [ ]:
'durga' < 'ram'

True

In [ ]:
ord('d')

100

In [ ]:
ord('r')

114

In [ ]:
'ramba' < 'ramya'

True

In [ ]:
'ramba' == 'ramya'

False

In [ ]:
'ramba' > 'ramya'

False

In [17]:
# WAP to find each occurance os the sub_string 

s = 'abcabcabca'
sub_str = 'abc'
index = 0 
for i in range(0,len(s)):
    index = s.find(sub_str,(i+index),len(s))
    if index == -1:
        break 
    else:
        print(f'i : {i} {sub_str} : at index {index}')

i : 0 abc : at index 0
i : 1 abc : at index 3
i : 2 abc : at index 6

In [10]:
# WAP  to merge the two strings into a single string alternatively 

# input 1 : Ravi 
# input 2 : Teja 
# output  : RTaevjia 

s1 = 'Ravikiran' 
s2 = 'Teja'

i,j = 0,0 
ouput = '' 

while i<len(s1) or j<len(s2): 
    
    if i < len(s1):
        ouput += s1[i]
        i += 1 
        
    if j < len(s2):
        ouput += s2[j]
        j += 1 
        
print(ouput)

RTaevjiakiran

In [28]:
# input  : d2kl4o9 
# output :dklo249 
s = 'd2kl4okflkdsjl3j4l3mflkdjl34j39'
digit = ''
s2 = '' 
sorted_str = sorted(s)
for i in ''.join(sorted_str):
    if i in [str(j) for j in range(0,10)]:
        digit += i 
    else:
        s2 += i 
        
print(s2 + digit)

dddffjjjjkkkkllllllmos233334449

In [39]:
# input  : a4b3z2c5 
# output :aaaabbbccccc
s = 'a4z2b3c5g8' 
ouput = ''

for ind,val in enumerate(s):
    if val.isdigit():
        ouput += int(val)*s[ind-1]
print(ouput)

aaaazzbbbcccccgggggggg

In [41]:
''.join(sorted(ouput))

'aaaabbbcccccggggggggzz'

In [56]:
# input  : aaaabbbccccc 
# output :4a3b5c
s = 'aaaabbbccccciekjajfkdjfkdkdjfkd' 
l = []
ouput = ''
for i in s:
    l.append(ord(i))
    
for j in set(l):
    ouput += str(s.count(chr(j)))+chr(j) 
    
print(ouput)

5a3b5c4d1e3f1i4j5k

In [63]:
# input  : a4k3b2 
# output :aeknbd
s = 'a4k3b2j3n9' 
l = []
ouput = ''
for ind,val in enumerate(s):
    if val.isdigit():
        ouput += chr(ord(s[ind-1]) + int(val)) 
    else:
        ouput += val 
    
print(ouput)

aeknbdjmnw

In [72]:
# Find the no. of occurances without using count() function 

s = 'aaabbccdf'
d = {}

for char in s:
    d[char] = d.get(char,0) + 1 
for k,v in sorted(d.items()):
    print(f'{k} : {v} times')

a : 3 times
b : 2 times
c : 2 times
d : 1 times
f : 1 times

In [74]:
output = ''
for k,v in sorted(d.items()):
    output += f'{v}{k}'
output

'3a2b2c1d1f'

In [6]:
#WAP to whether two strings are Anagrams or not. 
s1 = 'listen'
s2 = 'silent' 

if sorted(s1) == sorted(s2):
    print('Both strings are anagrams...')
else:
    print('Both strings are not anagrams...')

Both strings are anagrams...