In [10]:
# l = [1,2,3,4,5,]  
count = 0
for i in range(1,10,2):
    print(i,end=' ') 
git clone https://github.com/pankaj-stack/python.git

1 3 5 7 9

In [6]:
def f():
    x=20
    return x
print(f())
x=10
print(x)

20
10

In [9]:
def args(*args):#*args takes tuple
    for i in args:
        print(i)
tup=('krishna','radhe','shyam')
args(tup)

('krishna', 'radhe', 'shyam')

In [20]:
s,*var=1,2,3,4,5
for i in var:print(i)
print(type(var))

2
3
4
5
<class 'list'>

In [22]:
def kwargs(**kwargs):
    for i in kwargs.items():
        print(i,type(kwargs),sep='---------->')
kwargs(first ='Geeks', mid ='for', last='Geeks')

('first', 'Geeks')----------><class 'dict'>
('mid', 'for')----------><class 'dict'>
('last', 'Geeks')----------><class 'dict'>

In [29]:
def myFun(**kwargs):  
    for key, value in kwargs.items(): 
        print ("%s == %s"%(key, value)) <-----------------------"%s == %s"
  
# Driver code 
myFun(first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [27]:
#Anonymous fun^n(function without name i.e called anonymous function(lambda function))
cube=lambda x:x**3
cube(5)

125

In [36]:
function=lambda :print('hello')
function()

hello

In [29]:
def function():
    z=8
    return  z
function()

8

In [34]:
def fun():
    z=5
    return z,z
    print('hello')#This won't print because function get terminated by return statement
fun()

(5, 5)

In [39]:
def fun():
    z=5
    return z,z
    print('hello')#This won't print because function get terminated by return statement
type(fun())<--------------------------------------------

tuple

In [2]:
def f():
    def f():
        print('f()')
f()

In [40]:
def f():
    def f():
        print('f()')
    f()
f()

f()

In [6]:
# If the number of arguments is unknown, add a * before the parameter name<----------
def my_function(*kids):
      for i in kids:
            print(i)
my_function(1,2,3,4)

1
2
3
4

In [13]:
# Factorial
def factoraial(n):
    if n>=0:
        if n==0 or n==1:
            return 1
        else:
            return n*factoraial(n-1)
    else:
        print('Input greater than 0')
factoraial(int(input('Enter a no : ')))

Enter a no : 5

120

In [19]:
# Factorial
def factoraial(n):
    multiply=1
    if n>=0:
        if n==0 or n==1:
            return 1
        else:
            for i in range(n):
                multiply=multiply*n
                n-=1
            return multiply
    else:
        print('Input greater than 0')
factoraial(int(input('Enter a no : ')))

Enter a no : 3

6

In [36]:
# leap year
def is_leap(year):
    leap = False
    if year%4==0:
        if year%100==0:
            if year%400==0:
                leap=True
                return leap
            else:
                return leap
        else:
            leap=True
            return leap
    else:
        return leap
year = int(input('Enter the year : '))
print(is_leap(year))

Enter the year : 2024
True

In [25]:
1992/400

4.98

## 24th,February 2020

## Function

In [7]:
# 1.Reusuability
# 2.to use your set of instruction in another program/project

In [1]:
# It is named block code and non-self executable code(defintion of function)
# def is a keyword
# Return type of function is the type of value it return
# By default function returns None
#Return statement is optional,if any then that will be single return statement
    # in a function

## Docstring

In [2]:
print(print.__doc__)#To see the docstring

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [6]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [7]:
print(zip.__doc__)

zip(iter1 [,iter2 [...]]) --> zip object

Return a zip object whose .__next__() method returns a tuple where
the i-th element comes from the i-th iterable argument.  The .__next__()
method continues until the shortest iterable in the argument sequence
is exhausted and then it raises StopIteration.

In [1]:
# Function without parameter
def greeting():
    'This function greets everyone'
    print('Hello Everyone')
greeting()

Hello Everyone

In [5]:
g=greeting
print(g,greeting)#It means both are same
g()
'''or'''
greeting()

<function greeting at 0x7f7a8ca75170> <function greeting at 0x7f7a8ca75170>
Hello Everyone
Hello Everyone

In [9]:
print(greeting.__doc__)

This function greets everyone

In [10]:
# Function without parameter
def greeting():
    ''' this fuction
    greets everybody'''
    print('Hello Everyone')
greeting()

Hello Everyone

In [11]:
print(greeting.__doc__)

 this fuction
    greets everybody

In [13]:
for i in range(5):
    print(i)
greeting()#Whenever you need can call it anywhere

0
1
2
3
4
Hello Everyone

## Creating function with parameter

In [26]:
name=input('Enter name : ')
def greeting(n):
    print('Hello',n)
greeting(name)

Enter name : Pankaj
Hello Pankaj

In [27]:
def greeting(n):#here n is parameter
    print('Hello',n)
greeting(name)#here name is argument
name=input('Enter name : ')

Hello Pankaj
Enter name : pankaj

In [28]:
greeting('Atul')

Hello Atul

In [30]:
#Program to check even and odd
def even_odd(n):
    print('Even') if n%2==0 else print('Odd')
even_odd(int(input('Enter a no. : ')))

Enter a no. : 4
Even

## Need for return statement

In [33]:
# Scope of variable

In [35]:
# Creating global variable inside local variable
def even_odd(x):
    global res# global variable
    if x%2==0:
        res='Even'
    else:
        res='Odd'
even_odd(int(input('Enter the no. : ')))
print(res)

Enter the no. : 5
Odd

## Variable preference:

In [14]:
def myfunc(a,b):
    print(a,'1st time inside')
    s=a+b
    print(s)
a=5
b=12
print(a,'1st time outside')
myfunc(a,b)
print(a,'2nd time outside')

5 1st time outside
5 1st time inside
17
5 2nd time outside

In [15]:
def myfunc(a,b):
    a=50
    print(a,'1st time iside')#Iside function,local variable will be given preference 1st
    s=a+b
    print(s)
a=5
b=12
print(a,'1st time outside')
myfunc(a,b)
print(a,'2nd time outside')#outside function gloabal variable will be given preference 1st

5 1st time outside
50 1st time iside
62
5 2nd time outside

In [22]:
def even_odd(x):
    global res# global variable
    if x%2==0:
        print('even')
    else:
        print('odd')
x=even_odd(int(input('Enter the no. : ')))
print(x)#bydefault function returns None

Enter the no. : 44
even
None

In [18]:
def even_odd(x):
    return x%2==0
x=even_odd(int(input('Enter the no. : ')))
print(x)#bydefault function return None

Enter the no. : 5
False

In [20]:
def even_odd(x):
    global res# global variable
    if x%2==0:
        print('even')
    else:
        print('odd')
n=int(input('Enter the no. : '))
x=even_odd(n)
if x=='odd':
    print(n+1)
else:
    print(n+2)

Enter the no. : 8
even
10

## returning multiple values

In [23]:
def maths(x,y):
    s=x+y
    m=x*y
    return s  #Function can have only one return statement
    return m
res=maths(5,6)
print(res)

11

In [26]:
def maths(x,y):
    s=x+y
    m=x*y
    return m
    return s
res=maths(5,6)
print(res)

30

In [29]:
def maths(x,y):
    s=x+y
    m=x*y
    return m,s#<-------------------------tuple
res=maths(5,6)
print(res,type(res))

(30, 11) <class 'tuple'>

In [30]:
def maths(x,y):
    s=x+y
    m=x*y
    return [m,s]#<---------------------list
res=maths(5,6)
print(res,type(res))

[30, 11] <class 'list'>

In [31]:
def maths(x,y):
    s=x+y
    m=x*y
    return [m,s]#<---------------------list
res=maths(5,6)
avg=res[0]/2
sqrt=res[1]*0.5
print(avg,sqrt,sep='\n')

15.0
5.5

In [35]:
def maths(x,y):
    s=x+y
    m=x*y
    return [m,s]#<---------------------list
add,mul=maths(5,6)
avg=add/2
sqrt=mul*0.5
print(avg,sqrt,sep='\n')

15.0
5.5

## Home Work

In [ ]:
# generator function
# decorator function
# closure function

## 25th,February 2020

## Different ways of assigning arguments to parameter

In [3]:
# 1.Parameters with non-default value
def addition(x,y):
    print('x:',x)
    print('y:',y)
    return x+y
addition(4,5)

x: 4
y: 5

9

In [5]:
# 2.Keyword arguments
def addition(x,y):
    print('x:',x)
    print('y:',y)
    return x+y
addition(y=4,x=5)#<------------------------------------------keyword argument

x: 5
y: 4

9

In [7]:
1.Parameters with non-default arguments
addition(5) # error due to missing arguments

SyntaxError: invalid syntax (<ipython-input-7-0fd080c68d49>, line 1)

In [23]:
#Defining default parameters
def addition(x=0,y=5):#<-------------default parameter------------------------
    print('x:',x)
    print('y:',y)
    return x+y
print(addition(3,4))
print('\n')
print(addition(5))
print('\n')
print(addition(y=6))

x: 3
y: 4
7


x: 5
y: 5
10


x: 0
y: 6
6

In [24]:
addition()

x: 0
y: 5

5

In [27]:
print(addition(x=int(input()),y=int(input())))

3
3
x: 3
y: 3
6

In [16]:
# Function with both default and non-default parameters
def addition(x,y=5):
    print('x:',x)
    print('y:',y)
    return x+y
print(addition(2,10))

x 2
y: 10
12

## non-default argument follows default argument

In [18]:
def addition(y=5,x):#<---SyntaxError: non-default argument follows default argument

    print('x:',x)
    print('y:',y)
    return x+y
print(addition(2,10))

SyntaxError: non-default argument follows default argument (<ipython-input-18-92d63a578402>, line 1)

callback function

In [1]:
def f1(a,b):
    return a + b 
# Here f2 takes an argument as a function f1,and this called callback i.e a function
#takes another function as an argument
def f2(callback): 
    sum = callback(2,3)  
    print(f'sum is {sum}') 
f2(f1)

sum is 5

# ------------------pwskills-------------------

In [1]:
print("this is my print")

this is my print

In [2]:
l = [324,45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [6]:
def test():
    pass

In [7]:
def test1():
    print("this is my very very first function")

In [8]:
test1()

this is my very very first function

In [10]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
def test2():
    return "this is my very first return "

In [12]:
test2()

'this is my very first return '

In [13]:
test2() + "sudh"

'this is my very first return sudh'

In [14]:
 def test3() : 
        
        return "sudh" , 23, 345.56 , [1,2,3,3]

In [15]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

In [17]:
a,b,c,d = test3()

In [18]:
a

'sudh'

In [19]:
b

23

In [20]:
c

345.56

In [21]:
d

[1, 2, 3, 3]

In [22]:
a= 1 
b = 4

In [23]:
a , b = 1,4

In [24]:
def test4():
    a = 5+6/7
    return a

In [25]:
test4()

5.857142857142857

In [26]:
def test5(a, b ,c):
    d = a+b/c
    return d

In [27]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [28]:
test5(2,5,8)

2.625

In [29]:
def test6(a,b):
    return a+b

In [30]:
test6(3,4)

7

In [31]:
test6("sudh" , " kumar")

'sudh kumar'

In [32]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [33]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

In [34]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [35]:
l1

[1, 2, 3, 4]

In [36]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [37]:
test7(l)

[1, 2, 3, 4]

In [38]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [39]:
def test8(a) : 
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [40]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [41]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [ ]:
test8()

In [42]:
def test9(a) :
    """this is my function to extract num data from list"""
    
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [ ]:
test9()

In [43]:
def test10(a,b):
    return a+b

In [44]:
def test11(*args):
    return args

In [46]:
type(test11())

tuple

In [47]:
test11(1,2,3)

(1, 2, 3)

In [48]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [49]:
def test12(*sudh):
    return sudh

In [50]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [51]:
def test13(*args , a) :
    return args , a

In [52]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [53]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [55]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [56]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [57]:
test14(3,4)

(23, 1, 3, 4)

In [58]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

In [59]:
def test15(**kwargs):
    return kwargs

In [60]:
test15()

{}

In [62]:
type(test15())

dict

In [63]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}