In [1]:
# Tuple is faster than list
# Tuple is more secure than list
# Tuple is immutable while list is mutable
#List uses brackets but in case of Tuple it is
#A tuple is a sequence of immutable Python objects.
#Tuples are sequences, just like lists.

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a",
type(tup3)

tuple

In [3]:
#The empty tuple is written as two parentheses containing nothing −
t=()
print(type(t))

<class 'tuple'>

In [4]:
#To write a tuple containing a single value you have to include
#a comma, even though there is only one value −
tup1 = (50,)# tuple
tup2=1,#tuple
t=(35)      # not a tuple ,it's a integer value 
s=('hello') # not a tuple,it's a string value
print(type(t),type(s),type(tup2),sep='\n')

<class 'int'>
<class 'str'>
<class 'tuple'>

In [21]:
#Indexing
t=('radhe','pankaj',2,3.3)
print(t[0])
print(t[1])
print(t[3])

radhe
pankaj
3.3

In [28]:
# Slicing
# silicing is same as list and string
t=(1,2,3,4,5)
print(t[:])
print(t[:2])
print(t[::-1])

(1, 2, 3, 4, 5)
(1, 2)
(5, 4, 3, 2, 1)

In [24]:
# Tuples can also be nested
t1='a','bipin',2.5
t2=t1,(1,2,3)# Nesting of tuple <-----------------
print(t1,type(t1))
print(t2,type(t2))
tup=(2,3,(3,2))# Nesting of tuple <---------------
print(type(tup))
print(tup[2][0])

('a', 'bipin', 2.5) <class 'tuple'>
(('a', 'bipin', 2.5), (1, 2, 3)) <class 'tuple'>
<class 'tuple'>
3

# Tuple Operations

In [11]:
# Adding Tuples(concatenation-> + )
tup1=(2,3,4)
tup2=5,6,7
tup3=tup1+tup2
tup3

(2, 3, 4, 5, 6, 7)

In [13]:
#Replicating operator
t=3,34,5
print(t*2)

(3, 34, 5, 3, 34, 5)

In [25]:
# Updating elements isn't allowed in tuples
# otherwise it'll generate error
t=3.2,4,2,66
t[0]=4 # tuple object does not support item assignment due to its immutable property

TypeError: 'tuple' object does not support item assignment

In [7]:
# you can delete the whole tuple but can't delete the specific
# elements from the tuple due to its immutable feature
t=33,4,2,5
del t[0]#'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [8]:
del t # whole tuple can be deleted
print('Whole tuple is deleted')

Whole tuple is deleted

# Functions of tuple

In [26]:
t=3,4,5,6
print(min(t))
print(max(t))
print(len(t))

3
6
4

## 10th,Feburary 2020

In [9]:
# Tuple is a collection of different types

()

In [11]:
a='hello'
b='hello'
print(id(a),id(b))

140098131471664 140098131471664

In [14]:
detail=101,'hello','hello'
print(id(detail[1]),type(detail))

140098131471664 <class 'tuple'>

In [15]:
#count():object.count(element)
print(detail.count('hello'))

2

In [1]:
#Numeric Tuple
marks=50,80,80,67,50,70
print(sum(marks))

397

In [4]:
hash((1,2))

3713081631934410656

In [10]:
# Sorting function for tuple
data=[12,16,6,17,9]
sorted_list=sorted(data)
print(sorted_list)
sorted_list1=data.sort
print(sorted_list1)
# print(data.sort())

[6, 9, 12, 16, 17]
<built-in method sort of list object at 0x000002B86F96B880>

In [2]:
 print(sorted(data,reverse=True))

[17, 16, 12, 9, 6]